section {
  margin: auto;
  max-width: 1900px;
  overflow: hidden;

  h1 {
    font-size: 2rem;
    color: #fcf7f8;
  }
}

.movies-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  transition: ease-in-out 0.4s;
}
