.movie-card {
  width: 350px;
  height: 300px;
  margin: 0 15px;
  img {
    object-fit: cover;
    width: 100%;
  }
  .movie-title {
    color: #fcf7f8;
    font-size: 1.2rem;
    margin: 4px 0 0 0;
  }
  .movie-genre {
    font-size: 1rem;
    color: yellow;
  }
}
