.search-item-card {
  display: flex;
  width: 450px;
  height: 450px;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  .deactive {
    display: none;
  }
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
  }
  .search-item-description {
    display: flex;
    justify-content: space-between;
    .search-item-title {
      color: #fcf7f8;
      font-size: 1.2em;
      margin: 19px 0 0 0;
      &:hover {
        color: #ffe836;
      }
    }
    .search-item-release {
      color: #fcf7f8;
      font-size: 18px;
      margin: 20px 0 0 10px;
    }
  }
}
